# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
backend/tests/

# Node
node_modules/
frontend/node_modules/
npm-debug.log
yarn-error.log

# Project specific
backend/.env
frontend/.env
*.db
*.sqlite3
/data
